<!--Punto inicial de entrada a la aplicación --> 
<!--Incorporamos una barra de navegación --> 
<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  <div class="container"> 
    <a class="navbar-brand" href="#"> 
      <img 
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9I
        jAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw
        3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktN
        DMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjE
        uN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc
        3ZnPg=="
      /> 
      {{ title }}
    </a> 
    <p class="navbar-text pull-right"> Conectado como {{ displayName }} </p> 
  </div> 
</nav> 
<!-- Aquí invocamos a nuestro componente tasks --> 
<div class="container"> 
  <app-tasks></app-tasks> 
</div>  